*{
    padding: 0;
    margin: 0;
}
body{
    background-color:antiquewhite;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 100px;
  background-color: black;
  color:white;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 100px;

}
.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    gap: 20px;
}

.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    background-image: url("music.avif");
    background-size: cover;

}
.bottom {
    position: sticky;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 90px;
    bottom: 0;
    color: white;
}

#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor:pointer;
}

.icons i{
 cursor: pointer;
}


.songItem{
height: 50px;
display: flex;
background-color: white;
width: 40%;
color: black;
border-radius: 35px;
text-align: center;
justify-content: space-between;
align-items: center;
margin-bottom: 1.2rem;


}

.songItem img {
width: 45px;
border-radius: 35px;

}

.songItemcontainer{
    margin: 76px;
}